@charset "utf-8";
/* CSS Document */
.intro {
    background-image: url("img/flight.jpg");
    background-size: cover;
    background-color: aqua;
    width: 100%;
    height: 250px;
	background-position: center;
}

.hobby {
	
}
